@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family = Montserrat: ital, wght @ 1.300 & display = swap');

:root{
    --fonte-padrao:'Montserrat', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    font-family: var(--fonte-padrao);
}

* a{
    text-decoration: none;
    color: black;
}

body{
    background-color: rgba(32, 121, 255, 0.342);
}

header nav ul{
    display: flex;
    justify-items: center;
    align-items: center;
}

header nav ul li {
    list-style: none;
    margin-left: 10%;
}

header nav ul li a:hover{
    color: rgb(30, 61, 241);
    background-color: white;
    border-radius: 15px;
}

nav{
    margin-top: -220px;
}




.path-0{
    animation:pathAnim-0 19s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.path-1{
    animation:pathAnim-1 18s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-0{
    0%{
    d: path("M 0,700 C 0,700 0,175 0,175 C 203.2,141.93333333333334 406.4,108.86666666666665 552,119 C 697.6,129.13333333333335 785.5999999999999,182.46666666666667 924,199 C 1062.4,215.53333333333333 1251.2,195.26666666666665 1440,175 C 1440,175 1440,700 1440,700 Z");
    }
    25%{
    d: path("M 0,700 C 0,700 0,175 0,175 C 175.7333333333333,185.13333333333333 351.4666666666666,195.26666666666668 513,189 C 674.5333333333334,182.73333333333332 821.8666666666668,160.06666666666666 974,155 C 1126.1333333333332,149.93333333333334 1283.0666666666666,162.46666666666667 1440,175 C 1440,175 1440,700 1440,700 Z");
    }
    50%{
    d: path("M 0,700 C 0,700 0,175 0,175 C 171.59999999999997,182.86666666666667 343.19999999999993,190.73333333333332 502,181 C 660.8000000000001,171.26666666666668 806.8000000000002,143.93333333333334 961,140 C 1115.1999999999998,136.06666666666666 1277.6,155.53333333333333 1440,175 C 1440,175 1440,700 1440,700 Z");
    }
    75%{
    d: path("M 0,700 C 0,700 0,175 0,175 C 118.80000000000001,196.33333333333334 237.60000000000002,217.66666666666669 411,212 C 584.4,206.33333333333331 812.4000000000001,173.66666666666666 993,163 C 1173.6,152.33333333333334 1306.8,163.66666666666669 1440,175 C 1440,175 1440,700 1440,700 Z");
    }
    100%{
    d: path("M 0,700 C 0,700 0,175 0,175 C 203.2,141.93333333333334 406.4,108.86666666666665 552,119 C 697.6,129.13333333333335 785.5999999999999,182.46666666666667 924,199 C 1062.4,215.53333333333333 1251.2,195.26666666666665 1440,175 C 1440,175 1440,700 1440,700 Z");
    }
}



@keyframes pathAnim-1{
    0%{
    d: path("M 0,700 C 0,700 0,350 0,350 C 122.40000000000003,351.20000000000005 244.80000000000007,352.40000000000003 424,339 C 603.1999999999999,325.59999999999997 839.2,297.59999999999997 1018,297 C 1196.8,296.40000000000003 1318.4,323.20000000000005 1440,350 C 1440,350 1440,700 1440,700 Z");
    }
    25%{
    d: path("M 0,700 C 0,700 0,350 0,350 C 138,308.26666666666665 276,266.53333333333336 434,288 C 592,309.46666666666664 770,394.1333333333333 941,415 C 1112,435.8666666666667 1276,392.93333333333334 1440,350 C 1440,350 1440,700 1440,700 Z");
    }
    50%{
    d: path("M 0,700 C 0,700 0,350 0,350 C 181.46666666666664,391.20000000000005 362.9333333333333,432.40000000000003 537,411 C 711.0666666666667,389.59999999999997 877.7333333333333,305.6 1027,285 C 1176.2666666666667,264.4 1308.1333333333332,307.2 1440,350 C 1440,350 1440,700 1440,700 Z");
    }
    75%{
    d: path("M 0,700 C 0,700 0,350 0,350 C 158.40000000000003,319.4666666666667 316.80000000000007,288.93333333333334 490,286 C 663.1999999999999,283.06666666666666 851.2,307.73333333333335 1012,323 C 1172.8,338.26666666666665 1306.4,344.1333333333333 1440,350 C 1440,350 1440,700 1440,700 Z");
    }
    100%{
    d: path("M 0,700 C 0,700 0,350 0,350 C 122.40000000000003,351.20000000000005 244.80000000000007,352.40000000000003 424,339 C 603.1999999999999,325.59999999999997 839.2,297.59999999999997 1018,297 C 1196.8,296.40000000000003 1318.4,323.20000000000005 1440,350 C 1440,350 1440,700 1440,700 Z");
    }
}


